#!/usr/bin/env bash
# chezmoi: run when Brewfile changes
# Brewfile hash: {{ include "brew/Brewfile" | sha256sum }}

[[ "$(uname)" == "Darwin" ]] || exit 0

if [[ -f /opt/homebrew/bin/brew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

echo "[INFO] Installing packages from Brewfile…"
brew bundle --file="{{ .chezmoi.sourceDir }}/brew/Brewfile"
echo "[OK] Brew bundle complete."
